/* Reset default margins and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f1f5f9;
    color: #333;
}

/* Navigation bar styling */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

.nav-links li a:hover {
    color: #ff4a57;
}

.lang {
    font-size: 16px;
    cursor: pointer;
}

/* Hero Section Styling */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 100px 60px;
    background-color: #e9eff3;
    position: relative;
}

.hero-text {
    max-width: 50%;
}

.hero-text h1 {
    font-size: 48px;
    margin: 20px 0;
}

.hero-text p {
    font-size: 18px;
    margin-bottom: 20px;
}

.highlight {
    color: #ff4a57;
    font-weight: bold;
}

.download-btn {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.download-btn:hover {
    background-color: #ff4a57;
}

/* Hero Image */
.hero-image img {
    width: 400px;
    height: auto;
    border-radius: 30%;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    .hero {
        flex-direction: column;
        padding: 50px 20px;
    }

    .hero-text {
        max-width: 100%;
        text-align: center;
    }

    .hero-image {
        margin-top: 30px;
    }

}